<div class='flex-container'>
    <div>
        <div class='form-group'>
            <label for='txtVIN'>VIN Number</label>
            <input class='form-control' id='txtVIN' aria-describedby='txtVINHelp' placeholder='Enter VIN Number' [(ngModel)]='vin' (keyup)='validate()' (keyup.enter)='search()' maxlength='17'>
            <small id='txtVINHelp' class='form-text text-muted'>{{helpMessage}}</small> 
        </div>
        <button class='btn btn-primary' (click)='search()'>Search</button>
    </div>
    <div [hidden]='hideVehicleInfo'>
        <ul class='vehicleInfo'>
            <li><strong>Vehicle Information</strong></li>
            <li [hidden]='!vehicle.vehicleType'>Vehicle Type: {{vehicle.vehicleType | uppercase }}</li>
            <li [hidden]='!vehicle.modelYear'>Year: {{vehicle.modelYear | uppercase }}</li>
            <li [hidden]='!vehicle.make'>Make: {{vehicle.make | uppercase }}</li>
            <li [hidden]='!vehicle.model'>Model: {{vehicle.model | uppercase }}</li>
            <li [hidden]='!vehicle.trim'>Trim: {{vehicle.trim | uppercase }}</li>
            <li [hidden]='!vehicle.series'>Series: {{vehicle.series | uppercase }}</li>
            <li [hidden]='!vehicle.doors'>Doors: {{vehicle.doors | uppercase }}</li>
            <li [hidden]='!vehicle.bodyClass'>Body Class: {{vehicle.bodyClass | uppercase }}</li>
        </ul>
        <ul class='vehicleInfo'>
            <li><strong>Manufacturer Information</strong></li>
            <li [hidden]='!vehicle.manufacturerName'>Manufacturer Name: {{vehicle.manufacturerName | uppercase }}</li>
            <li [hidden]='!vehicle.plantCity'>Plant City: {{vehicle.plantCity | uppercase }}</li>
            <li [hidden]='!vehicle.plantState'>Plant State: {{vehicle.plantState | uppercase }}</li>
            <li [hidden]='!vehicle.plantCountry'>Plant Country: {{vehicle.plantCountry | uppercase }}</li>
        </ul>
        <ul class='vehicleInfo'>
            <li><strong>Technical Information</strong></li>
            <li [hidden]='!vehicle.displacement'>Displacement (L): {{vehicle.displacement | uppercase }}</li>
            <li [hidden]='!vehicle.transmissionStyle'>Transmission Style: {{vehicle.transmissionStyle | uppercase }}</li>
            <li [hidden]='!vehicle.fuelTypePrimary'>Fuel Type - Primary: {{vehicle.fuelTypePrimary | uppercase }}</li>
            <li [hidden]='!vehicle.otherEngineInfo'>Other Engine Info: {{vehicle.otherEngineInfo | uppercase }}</li>            
        </ul>
    </div>
</div>